.card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.right-alignment {
    justify-content: right;
    display: flex;
}

.left-alignment {
    justify-content: left;
    display: flex;
}

.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}

.error-message {
    color: red;
}

.dishImg {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.restaurantImg {
    max-height: 300px;
    width: 100%;
}

.restaurantPage {
    margin-top: 50px;
    min-height: 700px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

a.nav-link, .admin-link {
    color: black;
}

a.nav-link.active {
    color: #0056b3;
}

a.nav-link:hover {
    color: #0056b3;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.img-full {
    float: left;
    width: 100%;
    object-fit: cover;
}

.fa-edit:hover {
    color: #0056b3;
}

.card-header {
    margin: 0; !important;
    display: flex;
    /*background: rgb(93, 172, 189)!important;*/
    /*color: white;*/
}

.card-footer {
    display: flex;
    /*background: rgb(93, 172, 189)!important;*/
    /*color: white;*/
}

.numberOf1Dish-add, .numberOf1Dish-minus {
    color: #0056b3;
}

.main-container {
    padding-top: 50px;
    min-height: 700px;
}

ul.users-list {
    list-style: none;
}

li.user-item {
    border: 1px black solid;
    display: block;
    margin: 5px;

}

ul.nav {
    margin-top: 1rem;
}

.tablinks:hover, .admin-link:hover {
    cursor: pointer;
    text-decoration: none;
}

.user-card-info {
    display: flex;
}

.userImg {
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    object-fit: cover;
}

.card-restaurant-img {
    width: 100%;
}

h5.success {
    color: green;
}

h5.failed {
    color: red;
}

.bi-plus-circle.restaurant-page {
    cursor: pointer;
    font-size: 30px;
    color: #ccc
}

.bi-plus-circle.restaurant-page:hover {
    font-size: 35px;
    color: green
}

.sticky {
    margin-bottom: 100px;
    top: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}
a.admin{
    color: red;
}
.gray{
    color: gray;
}
.reservationCard{
    padding-bottom: 30px;
    padding-top: 10px;
}
.warning{
    color: red;
}